body {
    background-color: black;
    color:aliceblue;
    justify-content: center;
    align-items: center;
    font-family: "New Amsterdam", sans-serif;
    font-size: 20px;
}

h1{
    text-align: center;
    
}

a {
    text-align: left;
    color: aliceblue;
    text-decoration:0;
    padding: 15px;
    font-size: 20px;
}  
a:hover{
    color: #00b3b3;
}
.conteudo{
    border-top: 3px solid #b4b0b0;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;


} 
.conteudo .titulo{
    font-size: 30px;
    width: 100%;
    text-align: center;
  

}
.cg{
    padding: 15px;
    text-align: center;
    width: 600px;
   
}
.local{
    padding: 15px;
    text-align: center;
    width: 100%;
    color: chartreuse;
}
.img{
    width: 100%;



}
.img img{
    width:100%;
    border-radius: 15px;
   
}
.compre a{
    color:chartreuse
}
.compre a:hover{
    color: #00b3b3;
}